/*
    Trabalhando com listas
*/
.unordered{
    list-style-type: circle;
}

.ordered{
    list-style-type: upper-roman;
}
.livros{
    list-style-image: url(./images/marcador-de-pagina-magnetico-harry-potter-marcador-de-livro.jpg);
    margin-left: 100px;
}
.filmes{
    list-style-position: inside;
}

.series{
    list-style: square inside;
}

/*
    Trabalhando com tabelas
*/

#line-properties{
    border-top: 1px #9e9e9e solid;
    border-bottom: 2px #000000 solid;
    font-weight: bold;
    padding-bottom: 4px;
    text-transform: uppercase;
}

#line-author{
    text-align: left;
    padding: 3.5px;
}

.color{
    background-color: #dadada;
   
}

#right{
    text-align: right;
    padding: 5px;
}
tr:hover{
    background-color: #c3e6e5;
}

#empty{
    width: 300px;
    font-size: 80px;   
    empty-cells: show; 
}

.show{
    padding: 15px;
    border: 1px solid red;
}

#spacing{
    padding: 20px;
    font-size: 100px;   
    border-spacing: 1px 7px; /* 1 espaço na vertical, e 7 espaço na horizontal*/
}
.spa{
    border: solid red;
}

#collapse{
    padding: 15px;
    font-size: 100px;
    background-color: bisque;
    border-collapse:collapse;
}

/*
    Formulários
*/
#block{
    display: block;
}
.entrada1{
    background-color: #faf6f6;
    border-radius: 3px;
    border: 1px solid #bdbdbd;   
    padding: 5px 5px 5px 30px;
    background-image:url("./images/email.png");
    background-repeat: no-repeat; /*Se a imagem for pequena, não deixara que ela se repita nos espaços vagos*/
    background-position: 2px 1px;
    margin-bottom: 10px;
    width: 180px;

    
}

.entrada2{
    background-color: #faf6f6;
    border-radius: 3px;
    border: 1px solid #bdbdbd;
    padding:5px 5px 5px 30px;
    background-image:url("./images/Twitter.png");
    background-repeat: no-repeat;
    background-position: 2px 7px;
    margin-bottom: 10px;
    width: 180px;
}

.entrada3{
    background-color: #faf6f6;
    border-radius: 3px;
    border: 1px solid #bdbdbd;
    padding: 5px 5px 5px 33px;
    background-image: url("./images/earth.png");
    background-repeat: no-repeat;
    background-position: 2px;
    width: 180px;    
}

.button{
    color:rgba(15, 15, 15, 0.267);  
    border-bottom: 2px solid #b2b2b2;
    background-color: #b9e4e3;
 /*  Gradiente */
    background:-webkit-gradient(linear, left top,
    left bottom, from(#beeae9), to(#a8cfce));

    background:
    -moz-linear-gradient(top, #beeae9, #a8cfce);
    background:
    -o-linear-gradient(top, #beeae9, #a8cfce);
    background:-ms-linear-gradient(top, #beeae9, #a8cfce);
    
}

.button:hover{
    color:#3333;
    border: 1px solid #a4a4a4;
    border-top: 2px solid #b2b2b2;
    background-color: #a0dbc4;
    background: -webkit-gradient(linear, left top,
 left bottom, from(#a8cfce), to(#beeae9));
background:
 -moz-linear-gradient(top, #a8cfce, #beeae9);
background:
 -o-linear-gradient(top, #a8cfce, #beeae9);
background:
 -ms-linear-gradient(top, #a8cfce, #beeae9);
}

.field{
    width: 230px;
    height: 120px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#754f06;
    padding: 10px 3px 25px 15px;
    border-radius: 7px;
    border-color:#f1f1f1;
    

}
.legenda-field{
    border: 1px solid #b2b2b2;
    background-color:#f1f1f1;
    text-transform: uppercase;
    border-radius: 5px;
    padding:3px 7px 3px 7px;
   
}
.entrada-field{
    margin: 5px 3px 10px 3px;
}

.enviar-field{
    border-radius: 4px;
    background-color:#754f06;
    color:white;
    border:none;
    padding: 3px 12px 3px 12px;
    margin-left: 155px;

}

.titulo{
    float: left; /*ainda nao vi*/
    width: 100px;
    text-align: right;
   padding-right: 10px;

}
.all{
    border-bottom: 1px solid #efefef;
    margin: 10px;
    padding-bottom: 10px;
    width: 300px;
 
}
#submit{
    margin-left: 220px;
    border-radius: 5px;
}

/*
    CURSOR
*/
.mouse{
    cursor:wait;
    text-transform: uppercase;
    width: bold;
}
.cursor{
    cursor:help;
    /*url("./images/mouse.gif");*/
}


