/*          RESET
----------------------
*/

*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*
                                Sem esta propriedade um box1 de largura 10px e altura 10px é menor que
                                um box2  com a largura 10px, altura 10px e padding de 15px px, pois o tamanho do box2
                                é somado com o padding. 
                                Para resolver isso o border-box faz com que os dois box's tenha o mesmo tamanho
                                especificado, mesmo que tenha ou não padding
                            */
    -webkit-box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: inherit;
}
h1,h2,h3{ margin:0; padding: 0;}
ul, ol{list-style:none;}
img{max-width: 100%;border:none;}
a{text-decoration: none; color: initial}
a:hover{
    color:#999900;
    text-shadow: 0px 0px 5px #fff;
}

/*          GERAL
-----------------------
*/
.content{
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}
/*          HEADER
-----------------------
*/

.header{
    width: 100%;
    position: fixed;
    background: #EEEE;
    z-index: 5;
    
}
.header .content .logo{
    max-width: 100px;
    float:left;
}




/*      BREAKPOINTS
----------------------
*/
@media(max-width:767.9px){

/*HEADER*/ 
    .header .content-nav.active{
        right: 0; /*para aparecer o menu*/
    }
    .header .content-nav{
        position:fixed;
        top:0;
        right: -100%; /* para sumir o menu*/

        background: #fff;
        height: 100%;
        min-width: 200px;
        border: 1px solid #ccc;
        padding: 15px;
        z-index: 10;

        transition: right .4s ease-in-out;
        
    }    
    .header .content-nav ul li{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 15px 5px;
        border-bottom: 1px solid #BAC223;
    }
    .content-nav-close{
        float:right;
        font-size: 20px;
        color:#999900;
    }
        /*MENU RESPONSIVO*/
    .content-menu{
        float:right;
        margin-top: 50px;
        font-size: 20px;
        font-weight: bolder;
    }
    .content-menu i{
        padding: 0px 15px;
    }



}
@media(min-width:768px){ /*largura minima de 768*/
    .content-nav ul{
        float:right;
        margin-top: 50px;
        border: 1px solid #ccc;
    }
    .content-nav li{
        display: inline-block;
        padding: 5px 10px;        
    }

    .content-nav li:not(:last-of-type){       
        border-right: 1px solid #ccc;
    }
    .content-menu, .content-nav-close{
        display:none;
    }
}
@media(min-width:900px){
    
}