/*          RESET
----------------------
*/

*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*
                                Sem esta propriedade um box1 de largura 10px e altura 10px é menor que
                                um box2  com a largura 10px, altura 10px e padding de 15px px, pois o tamanho do box2
                                é somado com o padding. 
                                Para resolver isso o border-box faz com que os dois box's tenha o mesmo tamanho
                                especificado, mesmo que tenha ou não padding
                            */
    -webkit-box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: inherit;
}
h1,h2,h3{ margin:0; padding: 0;}
ul, ol{list-style:none;}
img{max-width: 100%;border:none;}
a{text-decoration: none; color: #ffff;}
a:hover{
    color:#a16ca1;
   /* text-shadow: 0px 0px 5px #fff;*/
}

/*          GERAL
-----------------------
*/
.content{
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}
.section{
    float:left;
    width: 100%;
}
/*          HEADER
-----------------------
*/

.header{
    width: 100%;
    position: fixed;
    background: #00173A;
    z-index: 5;
}
.header .content .logo{
    max-width: 100px;
    float:left;
}
/*          DESTAQUES
-----------------------
*/
.destaque{
    background-image: url(../img/lodge-2438655_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    padding: 350px 0;
    text-align: center;    

}



/*      BREAKPOINTS
----------------------
*/
@media(max-width:767.9px){

/*                         HEADER              */
    .header .content-nav.active{
        right: 0; /*para aparecer o menu*/
    }
    .header .content-nav{
        position:fixed;
        top:0;
        right: -200%; /* para sumir o menu*/

        background: #00173A;
        height: 100%;
        min-width: 200px;
        padding: 15px;
        z-index: 10;
        box-shadow: 0px 4px 8px #ccc;

        transition: right .4s ease-in-out;
        
    }    
    .header .content-nav ul li{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 15px 5px;
        border-bottom: 1px solid #BAC223;
    }
    .content-nav-close{
        float:right;
        font-size: 20px;
        color:#999900;
    }

    
    .content-nav .pousadas .submenu{
        display:none;
        position:relative;
        width: 100%;
        margin-left: 10px;
        
    }
    .content-nav .pousadas .submenu a{
        display:block;
        margin: 10px 10px;
        padding-bottom: 10px;
    }
    .content-nav .submenu a:not(:last-of-type){
        border-bottom: 1px solid #BAC223;
    }   
    .content-nav .pousadas:hover .submenu{
        display:inline-block;        

    }

        /*MENU RESPONSIVO*/
    .content-menu{
        float:right;
        margin-top: 50px;
        font-size: 20px;
        font-weight: bolder;
    }
    .content-menu i{
        padding: 0px 15px;
    }



}
@media(min-width:768px){ /*largura minima de 768*/

/*                         HEADER              */
    
    .content-nav{
        float:right;
        margin-top: 40px;
        border: 1px solid #ccc;
    }

    .content-nav ul li{
        float:left;
    }

    .content-nav ul li a{
        display: inline-block;
        padding: 5px 15px;

    }
    /*SUB MENU*/
    .content-nav ul li.pousadas{
        display:inline-block;
    }

    /*esconde o submenu*/
    .content-nav .submenu{
        display: none;
        position:absolute; /*para ficar sobreposto na tela*/

        width: 140px;
        z-index: 20;
        background:#00173A;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    }

    .content-nav .submenu a{
        display:block;
    }
    .content-nav .submenu a:not(:last-of-type){
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;

    }

    /*Deixa submenu visivel ao passar o mouse*/
    .content-nav .pousadas:hover .submenu{ /*quando passar o mouser por cima do pousadas vai alterar o submenu*/
        display:block;

    }
    

    /*  MENU TODO */
    .content-nav li:not(:last-of-type){       
        border-right: 1px solid #ccc;
    }
    
    .content-menu, .content-nav-close{
        display:none;
    }

    
    
   
}
@media(min-width:900px){
    
}